/** By default, this is a mobile breakpoint **/
.container {
    margin-bottom: 1rem;
    position: relative;
    z-index: 2;
  }



  .title {
    letter-spacing: -0.025em;
    font-weight: 600;
    line-height: 1.5;
    font-size: 6em;
    background-image: linear-gradient(gold, gold);
    background-size: 100% 10px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    transition: background-size .7s, background-position .5s ease-in-out;
  }
  
  .title:hover {
    background-size: 100% 100%;
    background-position: 0% 100%;
    transition: background-position .7s, background-size .5s ease-in-out;
  }

  .title1 {
    letter-spacing: 0.05em;
  }
  .title2 {
    display: block;
    font-weight: 600;
  }
  

  .subTitle {
    font-family: "Avenir Next LT W01 Thin",sans-serif;
    font-size: 1.6rem;
    font-weight: 100;
    color: #2a1b43;
    margin-bottom: 3rem;
    

  }
  
  .buttonWrapper {
    margin-top: 1.25rem;
  }
  
  

/* CSS */
.button {
    background-color: transparent;
    border: 1px solid #4d1c0a;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "Avenir Next LT W01 Thin",sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
    padding: 16px 23px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:hover,
  .button:active {
    outline: 0;
  }
  
  .button:hover {
    background-color: transparent;
    cursor: pointer;
  }
  
  .button:before {
    background-color: rgba(165,88,88, 0.6);
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
  }
  
  .button:hover:before {
    background-color: #A55858;
  }
  
  @media (min-width: 768px) {
    .button {
      padding: 16px 32px;
    }
    
    
  }
  /** 
    Breakpoints:
    ------------
    sm: min-width: 640px; //small device
    md: min-width: 768px; // medium device
    lg: min-width: 1024px; // large device
    xl: min-width: 1280px; // extra large device
    2xl: min-width: 1536px; // 2 x extra large device
  **/
  
  /** sm breakpoint **/
  @media (max-width: 640px) {
    
    .title {
      font-size: 3rem /* 48px */;
      line-height: 1;
    }
  
    .subTitle {
      margin-top: 1.25rem;
      max-width: 36rem;
    }
  
    .buttonWrapper {
      display: flex;
      margin-top: 2rem;
    }
  }
  /** Preposterous move **/
  @media (min-width: 640px) {
    
    .title {
      font-size: 3rem /* 48px */;
      line-height: 1;
    }
  
    .subTitle {
      margin-top: 1.25rem;
      max-width: 36rem;
    }
  
    .buttonWrapper {
      display: flex;
      margin-top: 2rem;
    }
  }

  
  
  /** md breakpoint **/
  @media (min-width: 768px) {
    
    .title {
      font-size: 3.75rem /* 60px */;
      line-height: 1;
    }
  
    .subTitle {
      margin-top: 1.25rem;
    }
  
    .button {
      padding-top: 1rem /* 16px */;
      padding-bottom: 1rem /* 16px */;
      font-size: 1.125rem /* 18px */;
      line-height: 1.75rem /* 28px */;
      padding-left: 2.5rem /* 40px */;
      padding-right: 2.5rem /* 40px */;
    }
  }
  
  /** lg breakpoint **/
  @media (min-width: 1024px) {
    .container {
      text-align: left;
    }
  
    .title {
      font-size: 4.5rem /* 72px */;
      line-height: 1;
    }
  
    .title2 {
      padding-left: 0.5rem;
    }
  
    .subTitle {
      margin-left: 0px;
      margin-right: 0px;
    }
  
    .buttonWrapper {
      justify-content: flex-start;
    }
  }
  
  /** xl breakpoint **/
  @media (min-width: 1280px) {
    .titleSpan {
      display: inline;
    }
    
  }