html,
:root {
  --text-purple-dark: rgb(178, 178, 178);
  --text-black: rgb(0, 0, 0);
  --text-white-100: rgb(26, 33, 47);
}
body {
  padding: 0;
  margin: 0;
  font-family: BebasNeue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: url("/static/background.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-weight: 500;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  p,
  pre {
  margin: 0;
  }
  
  
* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
   
  }
}
